# Ignore data files
/data/
/PongNoFrameskip-v4/

# Ignore common Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore OS files
.DS_Store
Thumbs.db
